<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chat Application</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="css/style.css" rel="stylesheet"> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <form id="post-form" method="POST" action="checkview">
            {% csrf_token %}
            <label>Room Name</label>
            <input type="text" name="room_name" id="room_name" width="100px" />
            <label>Username</label>
            <input type="text" name="username" id="username" width="100px" />
            <input type="submit" value="Enter Room">
        </form>
    </body>
</html>